
*{
  margin: 0px;
  box-sizing: border-box;
 }
header.App-header{
  background-color: gray;
  padding: 15px;
  color:aqua;
}
p {
  text-align: justify;
  color: black;
  font-size: 20px;
}
.first-container{
  padding: 25px;
}
.logo-container {
  width:250px;
  height:250px;
  background-color: magenta;
  float:left;
}
@media (prefers-reduced-motion: no-preference) {
  .logo-container {
    animation-name: logopicture;
    animation-iteration-count:infinite;
    animation-duration: 20s ;
    animation-timing-function: linear;
  }
}

@keyframes logopicture {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
